@import 'src/app/themes/buttons';

.finish {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 40px;
    color: #42d84e;
  }
}
.dados-atendimento {
  margin-top: 30px;
}
.atendimento-info-label {
  font-weight: bold;
  margin: 15px;
  padding: 10px;
}
.atendimento-info-data {
  margin: 15px;
  padding: 10px;
}
.btn-redirect {
  margin: 40px;
  padding: 20px 40px;
  background: #f8f9fa;
  font-size: 20px;
}
.btn-redirect:hover {
  font-weight: bold;
  background: #f8f9fe;
  color: darkgray;
}
