<p>
  <b>Prescricao</b>
  :
  {{ id }}
</p>
<p>
  <b>Data e hora</b>
  : {{ data }}, às
  {{ horario }}
</p>
<p>
  <b>Profissional</b>
  : {{ nomeMedico }}
</p>
<p><b>Medicamentos:</b></p>
<table>
  <thead>
    <th class="med-description">Descriçao</th>
    <th class="med-ammount">Qtde</th>
    <th class="med-manufactor">Fabricante</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of medicamentos">
      <td class="med-description">{{ item.descricao }}</td>
      <td class="med-ammount">{{ item.quantidade }}</td>
      <td class="med-manufactor">{{ item.fabricante }}</td>
    </tr>
  </tbody>
</table>
