<div class="finish">
  
  <div class="title-finish">
    <div class="col-md-12 mt-10">
      <p>Atendimento registrado com sucesso!</p>
      <span>Redirecionar para:</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="redirectAgenda()" type="submit">
        Agenda
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="redirectAtendimento()" type="submit">
        Atendimento
      </button>
    </div>
  </div>
</div>
