.cronograma {
  .header {
    .col {
      border-bottom: solid 1px #000;
    }
  }
  .vigencia-info {
    float: left;
    margin-bottom: 10px;
  }
  .vigencia-actions {
    float: right;
  }
  .vigencia-item {
    &:hover {
      background-color: #f0f0f0;
    }
    cursor: pointer;
  }
}
