<lib-toastify-toast-container 
    [position]="toastConfig.position"
    [transition]="toastConfig.transition"
    [autoClose]="toastConfig.autoClose"
    [hideProgressBar]="toastConfig.hideProgressBar"
    [newestOnTop]="toastConfig.newestOnTop"
    [closeOnClick]="toastConfig.closeOnClick"
    [pauseOnHover]="toastConfig.pauseOnHover"
    [pauseOnVisibilityChange]="toastConfig.pauseOnVisibilityChange"
    [iconLibrary]="toastConfig.iconLibrary"
></lib-toastify-toast-container>
<router-outlet></router-outlet>
