@import 'src/app/themes/borders';
@import 'src/app/themes/colors';
@import 'src/app/themes/fonts';

.soap-item {
  background: #fff;
  display: flex;
  align-items: flex-start;
  padding: 20px 12px;
  margin-bottom: 4px;
  width: 100%;
  // transition   : all 1000ms linear;

  // &.subjetivo {
  //   @include border-top-radius(14px);
  // }
  &.analise {
    height: auto;
    align-self: flex-end;
  }

  .description {
    @include font-size(2.5rem);
    font-family: MontserratRegular;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    margin: 0 20px 0 10px;
    cursor: pointer;
  }

  div.input {
    width: 100%;
    border-bottom: 0.5px solid map-get($backgrounds, block-conditions);

    textarea {
      @extend .txt-gray;
      font-family: WorkRegular;
      min-height: 100px;
      width: 100%;
      resize: none;
      border: 1px solid #808ba840 !important;
      border-radius: 7px;
      font-size: 14px;
      border: 0;

      &::placeholder {
        @extend .txt-gray;
      }
    }

    span {
      @extend .txt-gray;
      font-family: MontserratRegular;
      font-size: 10px;
      margin-left: 10px;
      margin-bottom: 5px;
    }
  }
}

.collapse {
  padding: 10px !important;
  max-height: 100px;

  .text-plano {
    display: block;
    min-height: 0px !important;
    height: 0 !important;
    width: 0 !important;
    // color: purle
  }

  .counter {
    display: none;
  }
}

.not-focused {
  .description {
    opacity: 0.5;
  }
}
