textarea {
  min-height: 80px;
}

.btn-custom {
  margin-top: 0px;
  margin-left: -2.5px;
  padding: 10px;
  border: 1px solid #dde3ff;
  font-family: LatoBold;
  width: 129px;
  color: #fff;
  margin-bottom: 10px;
  background: #0086fe;
  display: inline-block;
}

.btn-orange {
  background: #f99302 !important;
  color: #fff;
  border: 2px solid #dde3ff;
}
