@import 'src/app/themes/borders';
@import 'src/app/themes/colors';
@import 'src/app/themes/fonts';

@media print {
  body {
    width: 0 !important;
  }
}

.wrapper {
  display: block;
  margin: 0 auto;
  @media screen {
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
  @media print {
    vertical-align: middle;
    padding: 0 !important;
    margin: 0 !important;
  }
}
.btn-print {
  position: fixed;
  top: 20px;
  right: 20%;

  @media print {
    display: none;
  }
}
.page {
  display: flex;
  flex-direction: column;
  justify-self: center;
  break-after: always !important;
  page-break-after: always !important;
  @media screen {
    margin: 20px auto 20px auto;
    width: 40%;
    background: #fcfafa;
    min-height: 100vh !important;
  }
  @media print {
    height: 38cm !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

header.header {
  height: auto;
  > .logo {
    justify-self: center;
    align-self: center;
    width: 180px;
    margin: 20px;
  }
}
.row {
  // row from flex-helpers was inheriting negative margins, this fixes it
  margin: 1px 0;
}
.exame-obs {
  padding: 20px;
  font-size: 0.9em;
  color: #202020;
}

.exames-title {
  margin: 10px 0;
}
.doc-title {
  margin: 20px;
  font-weight: bolder;
  color: black;
  text-align: center;
  font-size: 20px;
}
section.metadata {
  border: 1px solid darkgray;
  border-radius: 15px;
  margin: 0 30px 0 30px;
  padding: 10px;
}
section.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.exames {
  align-self: flex-start;
  height: 100%;
  margin: 30px 30px 0 30px;
  padding: 10px;
}
.assinatura-e-carimbo {
  justify-self: flex-end;
  margin-left: 30px;
  padding: 10px;
}
.validation-error {
  border-bottom: 1px solid red;
  background: light-blue;
}

input[type='text'] {
  display: inline;
  flex: 1;
  height: 6px;
  border: 0px;
  border-bottom: 0.5px solid lightgray;
  margin-left: 10px;
  margin-right: 10px;
}

textarea.ref-texto {
  line-height: 21px;
  padding: 8px 10px;
  @extend .txt-gray;
  font-family: WorkRegular;
  height: 275px;
  width: 100%;
  resize: none;
  font-size: 14px;
  border: 0;
  &::placeholder {
    @media print {
      display: none;
    }
    font-size: 15px;
    color: black;
  }
}
.value {
  margin-left: 10px;
}
.separator {
  margin: 0 20px 0 20px;
}
.separator-line {
  margin: 40px 0 40px 0;
}
.separator-line-sm {
  margin: 30px 0 30px 0;
  width: 70%;
  opacity: 0.7;
}
div.input {
  flex: 1;
  border-radius: 15px;
  padding: 0;
  margin: 0;
}

footer.footer {
  width: 100%;
  > img {
    align-self: flex-end;
    flex: 1;
    width: 100%;
    @media screen {
      height: auto;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

.pages-separator {
  align-self: center;
  border: none;
  height: 5px;
  margin-top: 40px;
  background-color: darkgray;
  @media print {
    display: none;
  }
}
