.row-paciente {
  border-bottom: 2px solid #dee2e6 !important;
  margin-top: -17px !important;
  background: #d3d3d36b !important;
  padding: 15px !important;
  margin-bottom: 2px;
}

select {
  word-wrap: normal;
  padding: 5px;
  background: white;
  width: 100%;
  color: #7d7975;
  border: 1px solid darkgrey;
}
